/* purgecss start ignore */
@tailwind base;

@tailwind components;

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #2563eb, 0 0 0 3px white;
}

input:invalid.touched {
  border-color: #f87171;
  --tw-ring-color: #f87171;
}

.rmsc {
  --rmsc-main: #2563eb !important;
  --rmsc-border: black !important;
  --rmsc-p: 0.25rem !important;
  --rmsc-radius: 0 !important;
  --rmsc-h: 24px !important;
}

.rmsc .dropdown-container {
  @apply p-1;
}

.rmsc .dropdown-container[aria-disabled='true'] {
  @apply bg-gray-200 border-gray-400 text-gray-400;
}

.rmsc .dropdown-content {
  @apply border border-solid border-black pt-0 left-0;
}

.rmsc .dropdown-container .dropdown-heading-value > span {
  @apply align-baseline;
}

.rmsc .dropdown-container .panel-content {
  @apply shadow-none;
}

.rmsc .dropdown-container .select-panel > div {
  @apply border-none p-1;
}

.rmsc .dropdown-container .select-item input {
  @apply hidden;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}

.transition-inherit {
  transition-property: inherit;
  transition-duration: inherit;
  transition-timing-function: inherit;
}
/* purgecss end ignore */

@tailwind utilities;
